# Python specific
*.pyc
*.pyo
__pycache__/

# Audio
*.flac
*.wav
*.mp3
*.mp4

dockerbuilt
# srt
*.srt

*.txt

# Virtual environments
venv/
env/
env.bak/
env1/
env2/
.python-version

# IDE specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.out
*.pyc
*.whl

# Logs and databases
*.log
*.sqlite3
*.db

# OS specific
.DS_Store
Thumbs.db